{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{% block title %} {{name}}用户页面 {% endblock %}
{% block page_content %}

<div class="page-header container">
<div class="col-sm-3">
    <img class="img-rounded thumbnail" src="{{user.gravatar(size='150')}}" alt="头像加载中">
    </div>
    <div class="col-sm-9" style="margin: 0;">

    {% if user.name or user.location %}

        <p>
            <p>{% if user.name %}{{user.username}}{%endif %}</p>
            {% if user.location %} <a href="https://www.google.com/maps/place/{{user.location}}">{{user.location}}</a> {%endif %}
        </p>

    {% endif %}
    {% if user.is_administrator()%}
        这是管理员
    {% elif user.role_id ==1 %}
    这是普通用户
    {% else %}
    这是协管员
    {%endif%}
    {% if current_user.is_administrator() or current_user.email ==user.email %}
        <p><a href="mailto{{user.email}}">{{user.email}}</a></p>
    {% endif %}

    {% if user.about_me %} <p>{{user.about_me}}</p>{% endif %}

    {% if current_user ==user %}
        <a class="btn btn-success" href="{{url_for('main.edit_profile')}} ">修改个人资料</a>
    {% endif %}
        {% if current_user.is_administrator() %}
    <a class="btn btn-danger" href="{{url_for('main.edit_profile_admin',id=user.id)}} ">修改资料[admin]</a>
    {% endif %}


    <p>
        {{moment(user.member_since).format('L')}}
        最后登陆时间距今 {{moment(user.last_seen).fromNow()}}。
    </p>

         <p>
            {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                {% if not current_user.is_following(user) %}
                <a href="{{ url_for('.follow', username=user.username) }}" class="btn btn-primary">Follow</a>
                {% else %}
                <a href="{{ url_for('.unfollow', username=user.username) }}" class="btn btn-default">Unfollow</a>
                {% endif %}
            {% endif %}
            <a href="{{ url_for('.followers', username=user.username) }}">Followers: <span class="badge">{{ user.followers.count()-1 }}</span></a>
            <a href="{{ url_for('.followed_by', username=user.username) }}">Following: <span class="badge">{{ user.followed.count()-1 }}</span></a>
            {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
            | <span class="label label-default">Follows you</span>
            {% endif %}
        </p>

</div>


</div>

<h3>{{user.username}}的文章 <span style="font-size: 13px">总数量{{user.posts.count()}}</span></h3>

{% include '_posts.html'%}
{% if pagination and pagination.total>10 %}
<div class="pagination">
    {{ macros.pagination_widget(pagination,'.user',username=user.username)}}
</div>
{% endif %}

{% endblock %}